## NLP to SQL

Using the OpenAI Python API convert non-technical users' text into a SQL query, then use that SQL to query a database and report back the results.

### Imports

In [66]:
# Install modules
!pip install openai==0.28
# !pip install pandas
# !pip install sqlalchemy

Requirement already satisfied: openai==0.28 in ./.conda/lib/python3.11/site-packages (0.28.0)
Requirement already satisfied: requests>=2.20 in ./.conda/lib/python3.11/site-packages (from openai==0.28) (2.31.0)
Requirement already satisfied: tqdm in ./.conda/lib/python3.11/site-packages (from openai==0.28) (4.66.1)
Requirement already satisfied: aiohttp in ./.conda/lib/python3.11/site-packages (from openai==0.28) (3.9.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.conda/lib/python3.11/site-packages (from requests>=2.20->openai==0.28) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./.conda/lib/python3.11/site-packages (from requests>=2.20->openai==0.28) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.conda/lib/python3.11/site-packages (from requests>=2.20->openai==0.28) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.conda/lib/python3.11/site-packages (from requests>=2.20->openai==0.28) (2023.11.17)
Requirement already satisfied: attrs>=17.3.0 in ./.conda/lib/python3.11/site-packages (from aiohttp->openai==0.28) (23.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in ./.conda/lib/python3.11/site-packages (from aiohttp->openai==0.28) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in ./.conda/lib/python3.11/site-packages (from aiohttp->openai==0.28) (1.9.4)
Requirement already satisfied: frozenlist>=1.1.1 in ./.conda/lib/python3.11/site-packages (from aiohttp->openai==0.28) (1.4.1)
Requirement already satisfied: aiosignal>=1.1.2 in ./.conda/lib/python3.11/site-packages (from aiohttp->openai==0.28) (1.3.1)

In [41]:
# Import modules
import os
import pandas as pd
import openai

### Data

In [42]:
df = pd.read_csv("sales_data.csv")

In [43]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [44]:
# Lowercase column names
df.columns = df.columns.str.lower()
df.head()

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,month_id,year_id,...,addressline1,addressline2,city,state,postalcode,country,territory,contactlastname,contactfirstname,dealsize
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

### Querying Data

In [45]:
# Test pd query function
df.groupby("qtr_id").sum()['sales']

qtr_id
1    2350817.73
2    2048120.30
3    1758910.81
4    3874780.01
Name: sales, dtype: float64

In [46]:
df.groupby("country").sum()['sales'].sort_values(ascending=False)

country
USA            3627982.83
Spain          1215686.92
France         1110916.52
Australia       630623.10
UK              478880.46
Italy           374674.31
Finland         329581.91
Norway          307463.70
Singapore       288488.41
Denmark         245637.15
Canada          224078.56
Germany         220472.09
Sweden          210014.21
Austria         202062.53
Japan           188167.81
Switzerland     117713.56
Belgium         108412.62
Philippines      94015.73
Ireland          57756.43
Name: sales, dtype: float64

In [47]:
df['sales'] = pd.to_numeric(df['sales'], errors='coerce')
average_sales_per_deal = df.groupby("dealsize")['sales'].mean()
average_sales_per_deal

dealsize
Large     8293.753248
Medium    4398.433699
Small     2061.682800
Name: sales, dtype: float64

### SQL Database Set-up

In [48]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [49]:
temp_db = create_engine('sqlite:///:memory:', echo=True)

In [50]:
# Push the df into a table called sales
data = df.to_sql(name='Sales',con=temp_db)

2024-01-02 17:46:24,982 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-02 17:46:24,984 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2024-01-02 17:46:24,985 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-02 17:46:24,985 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2024-01-02 17:46:24,985 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-02 17:46:24,987 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	ordernumber BIGINT,
	quantityordered BIGINT,
	priceeach FLOAT,
	orderlinenumber BIGINT,
	sales FLOAT,
	orderdate TEXT,
	status TEXT,
	qtr_id BIGINT,
	month_id BIGINT,
	year_id BIGINT,
	productline TEXT,
	msrp BIGINT,
	productcode TEXT,
	customername TEXT,
	phone TEXT,
	addressline1 TEXT,
	addressline2 TEXT,
	city TEXT,
	state TEXT,
	postalcode TEXT,
	country TEXT,
	territory TEXT,
	contactlastname TEXT,
	contactfirstname TEXT,
	dealsize TEXT
)


2024-01-02 17:46:24,987 INFO sqlalchemy.engine.Engine [no key 0.00019s] ()
2024-01-02 17:46:24,987 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2024-01-02 17:46:24,988 INFO sqlalchemy.engine.Engine [no key 0.00065s] ()
2024-01-02 17:46:25,012 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", ordernumber, quantityordered, priceeach, orderlinenumber, sales, orderdate, status, qtr_id, month_id, year_id, productline, msrp, productcode, customername, phone, addressline1, addressline2, city, state, postalcode, country, territory, contactlastname, contactfirstname, dealsize) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-01-02 17:46:25,012 INFO sqlalchemy.engine.Engine [generated in 0.01658s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2024-01-02 17:46:25,022 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-01-02 17:46:25,022 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-01-02 17:46:25,023 INFO sqlalchemy.engine.Engine COMMIT

In [51]:
# Use sqlalchemy to connect to the temp db and query it for the results:
with temp_db.connect() as conn:
    result = conn.execute(text("Select ordernumber, sales from Sales ORDER BY sales desc limit 1"))

2024-01-02 17:46:25,032 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-02 17:46:25,036 INFO sqlalchemy.engine.Engine Select ordernumber, sales from Sales ORDER BY sales desc limit 1
2024-01-02 17:46:25,038 INFO sqlalchemy.engine.Engine [generated in 0.00671s] ()
2024-01-02 17:46:25,040 INFO sqlalchemy.engine.Engine ROLLBACK

In [52]:
result.all()

[(10407, 14082.8)]

In [53]:
# Set the API key and test the API
os.environ["OPENAI_API_KEY"] = "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"

In [54]:
openai.api_key = os.getenv("OPENAI_API_KEY")

### Tell GPT about the SQL Table Structure

In [55]:
### Postgres SQL tables, with their properties:
#
# Employee(id, name, department_id)
# Department(id, name, address)
# Salary_Payments(id, employee_id, amount, date)
#
### A query to list the names of the departments which employed more than 10 employees in the last 3 months
# SELECT

In [56]:
# A function to return the prompt
def create_table_definition_prompt(df):
    prompt = '''### sqlite SQL table, with its properties:
#
# Sales({})
#
'''.format(",".join(str(x) for x in df.columns))
    
    return prompt

In [109]:
print(create_table_definition_prompt(df))

### sqlite SQL table, with its properties:
#
# Sales(ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,month_id,year_id,productline,msrp,productcode,customername,phone,addressline1,addressline2,city,state,postalcode,country,territory,contactlastname,contactfirstname,dealsize)
#

### Get Natural Language Request:

In [111]:
# A function that grabs the natural language information request:
def prompt_input():
    nlp_text = input("What information are you looking for: ")
    return nlp_text

In [123]:
# Prompt user for the question
prompt_input()

'grab all sales per quarter'

In [121]:
# Combine the results into one function
def combine_prompts(df, query_prompt):
    definition = create_table_definition_prompt(df)
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return definition+query_init_string

In [125]:
nlp_text = prompt_input() # Grab user's for the question
print(combine_prompts(df, nlp_text)) # DF + query that does...+ user's question

### sqlite SQL table, with its properties:
#
# Sales(ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,month_id,year_id,productline,msrp,productcode,customername,phone,addressline1,addressline2,city,state,postalcode,country,territory,contactlastname,contactfirstname,dealsize)
#
### A query to answer: Give me sales by quarter
SELECT

In [127]:
# Get the response from the API
response = openai.completions.create(
  model='gpt-3.5-turbo-instruct',
  prompt=combine_prompts(df, nlp_text),
  temperature=0,
  max_tokens=150,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0,
  stop=['#', ';']
)

In [131]:
response

Completion(id='cmpl-8d7cI5M6ym0nEoB7fe1PzztiSYBEh', choices=[CompletionChoice(finish_reason='stop', index=0, logprobs=None, text=' SUM(sales) AS total_sales, qtr_id\nFROM Sales\nGROUP BY qtr_id\nORDER BY qtr_id ASC')], created=1704334762, model='gpt-3.5-turbo-instruct', object='text_completion', system_fingerprint=None, usage=CompletionUsage(completion_tokens=27, prompt_tokens=96, total_tokens=123))

In [132]:
response.choices[0].text

' SUM(sales) AS total_sales, qtr_id\nFROM Sales\nGROUP BY qtr_id\nORDER BY qtr_id ASC'

Now let's build a function to parse the section of the response we want:

In [119]:
def handle_response(response):
    query = response["choices"][0]["text"]
    if query.startswith(" "):
        query = "Select"+ query
    return query

In [120]:
print(handle_response(response))

TypeError: 'Completion' object is not subscriptable

Perfect! Now we just pass that into our Database:

In [101]:
with temp_db.connect() as conn:
    result = conn.execute(text(handle_response(response)))

TypeError: 'Completion' object is not subscriptable

In [92]:
result.all()

[]

Perfect! You can explore the .py files to view a system that brings it all together!